<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="graphql"/>

    <bean id="executeGroupBy" class="graphql.ExecuteGroupBy"/>
    <bean id="updateCypher" class="graphql.UpdateCypher"/>
    <bean id="executePredicate" class="graphql.ExecutePredicate"/>
    <bean id="executeMatch" class="graphql.ExecuteMatch"/>
    <bean id="executeJoin" class="graphql.ExecuteJoin"/>

</beans>